.col_img11 {
	POSITION: relative; WIDTH: 126px; FLOAT: left; HEIGHT: 86px; disply: block
}
.col_img {
	POSITION: absolute; WIDTH: 126px; FLOAT: left; HEIGHT: 86px
}
.col_img2 {
	BACKGROUND-IMAGE: url(../images/bgddd.gif); POSITION: absolute; TEXT-ALIGN: left; LINE-HEIGHT: 20px; MARGIN-TOP: 66px; WIDTH: 126px; MARGIN-BOTTOM: auto; FLOAT: left; HEIGHT: 20px; FONT-SIZE: 12px
}
.col_1 {
	BACKGROUND-IMAGE: url(../images/bgddd.gif); POSITION: relative; TEXT-ALIGN: left; LINE-HEIGHT: 20px; MARGIN-TOP: 0px; WIDTH: 126px; MARGIN-BOTTOM: auto; FLOAT: left; HEIGHT: 20px; FONT-SIZE: 12px
}
.col_1 A {
	TEXT-DECORATION: none
}
.col_1 A:hover {
	TEXT-DECORATION: underline
}
.cont table tbody tr .left .box tbody tr td .sj p strong {
	font-size: 16px;
}
.cont table tbody tr .left .box tbody tr td .sj p {
	font-size: 14px;
}
.cont table tbody tr .left .box tbody tr td .sj p {
	font-size: 16px;
}
