BODY {
	TEXT-ALIGN: center; MARGIN: 0px auto; BACKGROUND: url(../images/main_bg.jpg) #ffffff repeat-x left top
}
.cont {
	TEXT-ALIGN: center; MARGIN: 0px; WIDTH: 920px; BACKGROUND: #fff
}
TD {
	FONT: 12px/1.5 Verdana, Arial, Helvetica, sans-serif, "ËÎÌå"; COLOR: #000000
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
P {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	color: #000000;
	font-size: 16px;
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	COLOR: #07519a; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c30 !important; TEXT-DECORATION: underline
}
.content {
	WORD-WRAP: break-word
}
.sj {
	MARGIN: 14px
}
.left {
	WIDTH: 300px
}
.homepage .left {
	WIDTH: 300px
}
.sider {
	WIDTH: 600px
}
.homepage .sider {
	WIDTH: 600px
}
.top {
	BORDER-BOTTOM: #dcdcdc 1px solid
}
.top TD {
	BACKGROUND: #f4f4f4
}
.top TABLE TD {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 3px
}
.top A {
	
}
.top .inputText {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; HEIGHT: 14px; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.top .inputSub {
	HEIGHT: 19px
}
.nav {
	BACKGROUND: url(../images/nav_bg.jpg) repeat-x left top
}
.nav .nav_global {
	
}
.nav .nav_global UL {
	
}
.nav .nav_global LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; PADDING-RIGHT: 2px; BACKGROUND: url(../images/nav_line.jpg) no-repeat right top; FLOAT: left; COLOR: #fff; FONT-SIZE: 13px; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.nav .nav_global LI A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; BACKGROUND: url(../images/nav_bg.jpg) repeat-x left top; COLOR: #fff; PADDING-TOP: 0px
}
.nav .nav_global LI A:hover {
	COLOR: #000 !important; TEXT-DECORATION: none
}
.nav .nav_global LI.curr A {
	BACKGROUND: url(../images/nav_li_hover.jpg) repeat-x center top; COLOR: #000
}
.nav_sub {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
.nav_sub A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 0px
}
#tabnav_div_1 {
	
}
#tabnav_div_2 {
	PADDING-LEFT: 100px
}
#tabnav_div_3 {
	PADDING-LEFT: 200px
}
#tabnav_div_4 {
	PADDING-LEFT: 300px
}
#tabnav_div_5 {
	PADDING-LEFT: 400px
}
#tabnav_div_6 {
	PADDING-LEFT: 500px
}
#tabnav_div_7 {
	PADDING-LEFT: 600px
}
#tabnav_div_8 {
	TEXT-ALIGN: right; PADDING-RIGHT: 40px
}
.links {
	MARGIN-TOP: -10px
}
.links HR {
	COLOR: #dcdcdc
}
.search {
	BACKGROUND: #1f73be; COLOR: #fff
}
.search TD {
	COLOR: #fff
}
.search A {
	COLOR: #fff
}
.search A:hover {
	COLOR: #fff !important
}
.copyright {
	MARGIN: 5px 0px
}
.title {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #aaccee 1px solid; BACKGROUND: url(../images/title_bg.gif) #e9f2fb repeat-x left top; COLOR: #07519a; BORDER-TOP: #aaccee 1px solid; BORDER-RIGHT: #aaccee 1px solid
}
.title TD {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #07519a; FONT-SIZE: 13px; PADDING-TOP: 0px
}
.box {
	BORDER-BOTTOM: #aaccee 1px solid; BORDER-LEFT: #aaccee 1px solid; BORDER-TOP: #aaccee 0px solid; BORDER-RIGHT: #aaccee 1px solid
}
.box UL {
	PADDING-BOTTOM: 8px; LIST-STYLE-TYPE: none; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 8px
}
.box UL LI {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 1.6; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bullet.gif) no-repeat left center; PADDING-TOP: 2px
}
.no_doc UL LI {
	PADDING-LEFT: 0px; BACKGROUND: url(none)
}
.box UL LI P {
	PADDING-BOTTOM: 5px; MARGIN: 0px 0px 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000000; PADDING-TOP: 0px
}
.box UL LI STRONG {
	DISPLAY: block
}
.rank {
	PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 8px
}
.margin_top {
	MARGIN-TOP: 10px
}
.inputText {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.banner_ad {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.picText {
	MARGIN-BOTTOM: 10px; BACKGROUND: #f8f8f8
}
.picText STRONG {
	DISPLAY: block
}
.picText IMG {
	
}
.picList {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
.picList TABLE TD IMG {
	MARGIN-BOTTOM: 1px
}
.tprice SPAN {
	TEXT-DECORATION: line-through
}
.price {
	COLOR: #f60
}
.tipmes {
	BORDER-BOTTOM: #c3e7fd 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c3e7fd 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 2em; BACKGROUND-COLOR: #fffff0; PADDING-LEFT: 0px; WIDTH: 380px; PADDING-RIGHT: 0px; HEIGHT: 100px; FONT-SIZE: 12px; BORDER-TOP: #c3e7fd 1px solid; BORDER-RIGHT: #c3e7fd 1px solid; PADDING-TOP: 10px
}
